.input {
	margin-top: 10%;
	font-family: Pixeled;
	font-size: 3em;
	background-color: #151515;
	color: white;
	transition: 1s;
}

.cool-link {
    display: inline-block;
    color: #000;
	text-decoration: none;
	transition: width .4s;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
	height: 2px;
	width: 100%;

    background: white;
    /* transition: width .2s; */
}

.cool-link::after {
}

input:placeholder-shown {
	border: 0;
}

input:focus {
	border: 0;
}

input:valid {
	border: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* 
input:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
} */

.win-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 4%;
}

body {
	background-color: #272727;
	padding: 10px;
  }
  
  .fakeButtons {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 1px solid #000;
	position: relative;
	top: 6px;
	left: 6px;
	background-color: #ff3b47;
	border-color: #9d252b;
	display: inline-block;
  }
  
  .fakeMinimize {
	left: 11px;
	background-color: #ffc100;
	border-color: #9d802c;
  }
  
  .fakeZoom {
	left: 16px;
	background-color: #00d742;
	border-color: #049931;
  }
  
  .fakeMenu {
	width: 100%;
	box-sizing: border-box;
	height: 25px;;
	background-color: #bbb;
	margin: 0 auto;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
  }
  
  .fakeScreen {
	background-color: #151515;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  }
  
  p {
	position: relative;
	left: 50%;
	margin-left: -8.5em;
	text-align: left;
	font-size: 1.25em;
	font-family: monospace;
	white-space: normal;
	overflow: hidden;
	width: 0;
  }
  
  span {
	color: #fff;
	font-weight: bold;
  }
  
  .line1 {
	color: white;
	-webkit-animation: type .5s 0.5s steps(20, end) forwards;
	-moz-animation: type .5s 0.5s steps(20, end) forwards;
	-o-animation: type .5s 0.5s steps(20, end) forwards;
	animation: type .5s 0.5s steps(20, end) forwards;
  }
  
  .cursor1 {
	-webkit-animation: blink 1s 2s 2 forwards;
	-moz-animation: blink 1s 2s 2 forwards;
	-o-animation: blink 1s 2s 2 forwards;
	animation: blink 1s 2s 2 forwards;
  }
  
  .line2 {
	color: #CDEE69;
	-webkit-animation: type .3s 2.25s steps(20, end) forwards;
	-moz-animation: type .3s 2.25s steps(20, end) forwards;
	-o-animation: type .3s 2.25s steps(20, end) forwards;
	animation: type .3s 2.25s steps(20, end) forwards;
  }
  
  @-webkit-keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @-moz-keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @-o-keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @-webkit-keyframes type {
	to {
	  width: 17em;
	}
  }
  
  @-moz-keyframes type {
	to {
	  width: 17em;
	}
  }
  
  @-o-keyframes type {
	to {
	  width: 17em;
	}
  }
  
  @keyframes type {
	to {
	  width: 17em;
	}
  }